body {
    background-color:rgb(240, 232, 220);
    font-family: orpheuspro,serif;
    font-weight: 700;
    font-style: normal;
    color: black;
}
#navbar {
    background-color:rgb(240, 232, 220);
}